@{
    ViewBag.Title = "Home Page";
}

<div id="themeSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
        <li data-target="#themeSlider" data-slide-to="1"></li>
        <li data-target="#themeSlider" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <div class="imgOverlay"></div>
            <img style="height:320px;width100%" src="https://www.ctvnews.ca/polopoly_fs/1.4355435.1561359516!/httpImage/image.jpg_gen/derivatives/landscape_1020/image.jpg" alt="First slide">
            <div class="carousel-caption">
                <h3>First slide</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </div>
        <div class="item">
            <div  class="imgOverlay"></div>
            <img style="height:320px;width100%" src="https://www.apple.com/ac/structured-data/images/open_graph_logo.png?201809240700" alt="Second slide">
            <div class="carousel-caption">
                <h3>Second slide</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:320px;width100%" src="https://i.pinimg.com/originals/cc/63/3a/cc633ad293fb08831b0d635cb77e5405.jpg" alt="Third slide">
            <div class="carousel-caption">
                <h3>Third slide</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#themeSlider" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#themeSlider" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>
</div>