@{
    ViewBag.Title = "Home Page";
}

<div id="themeSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
        <li data-target="#themeSlider" data-slide-to="1"></li>
        <li data-target="#themeSlider" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <div class="imgOverlay"></div>
            <img style="height:320px;width100%" src="https://www.ctvnews.ca/polopoly_fs/1.4355435.1561359516!/httpImage/image.jpg_gen/derivatives/landscape_1020/image.jpg" alt="First slide">
            <div class="carousel-caption">
                <h3>First slide</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </div>
        <div class="item">
            <div  class="imgOverlay"></div>
            <img style="height:320px;width100%" src="https://www.apple.com/ac/structured-data/images/open_graph_logo.png?201809240700" alt="Second slide">
            <div class="carousel-caption">
                <h3>Second slide</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:320px;width100%" src="https://i.pinimg.com/originals/cc/63/3a/cc633ad293fb08831b0d635cb77e5405.jpg" alt="Third slide">
            <div class="carousel-caption">
                <h3>Third slide</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#themeSlider" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#themeSlider" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>
</div>
<div class="olContent f1">
    <h2 style="color:black">Searrch Product/Category</h2>
</div>
<div class="olSearch fr">
    <input type="text" placeholder="Enter KeyWord" name="searchKey" class="inputComn houseText from-control"/>
    <div class="searchIcon">
        <button type="button" class="searchBtn>
            <img src="https://img.icons8.com/pastel-glyph/2x/search.png"
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Our Product</h2>
        </div>
    </div>
</div>
<div class="row product-container">
    <div class="col-mg-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">
            <img class="img-responsive" title="Click to View Product Detail" style="cursor:pointer;width:260px;height:160px" src="https://hotline.ua/img/tx/157/157995082_s265.jpg" />
        </div>
    </div>
</div>